*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
media/uploads
tmp
.DS_Store

#pycharm ignores
.idea/workspace.xml
.idea/dictionaries/
.idea/yago.iml
.idea/misc.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources.ids
dev.db
